#fullpage{
    background-image: url("img/quiz/hhhh.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
.pro{
    background-color: #fff;
}
@media screen and (max-width: 768px) {
    #fullpage {
        background-image: url("img/quiz/hhhh.jpeg");
        background-size: cover;
        background-position: center;
        height: 200vh;
        width: 100vw;
    }
}