<!DOCTYPE html>
<html>
<head>
    <title>G2 Quiz</title>
    
</head>
<body>
    <h1>G2 Exam</h1>
    <form action="/submit_g2" method="POST">
        <label>What is 12 / 4?</label><br>
        <input type="radio" name="q1" value="2"> 2
        <input type="radio" name="q1" value="3"> 3
        <input type="radio" name="q1" value="4"> 4
        <br><br>
        <label> If you have 9 apples and eat 3, how many are left?</label><br>
        <input type="radio" name="q4" value="7"> 7
        <input type="radio" name="q4" value="8"> 8
        <input type="radio" name="q4" value="6"> 6
        <br><br>
        <label>How many sides does a hexagon have</label><br>
        <input type="radio" name="q1" value="7"> 7
        <input type="radio" name="q1" value="8"> 8
        <input type="radio" name="q1" value="6"> 6
        <br><br>
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>
